# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la

# Executables
*.exe
*.out
*.app

Bezier/.vs/

Bezier/Bezier/x64/
Bezier/x64/

Bezier/x64/Debug/*.pdb
Bezier/x64/Debug/*.ilk
Bezier/x64/Debug/*.exe
